    <div class="main-header" >
        
        <div class="logoName">
            Rick&Morty
        </div>    
         
        <nav class="main-nev">
        
            <ul class="lists1">
                <li> <a routerLink='/about'>Home</a></li>
                <li> <a routerLink='/home'>About</a></li>
                <li> <a routerLink='/main'>SearchMe</a></li>
            </ul>
        </nav>
    </div>
