@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
.home {
   
    background-color: #2F303A;
    font-family: Poppins , Exo;
    font-size: 1.2rem;
    align-items: center;
    padding: 0;
    
}
.lists1 a:hover{
    
    color: white;
    text-decoration: none;
    background-color: rgba(2, 250, 97, 0.377);
    border-radius: 15px;

}

a:any-link {
    color:rgb(78, 10, 10);
    text-decoration: none;
    font-size: 2.5vw;
  }
  .lists1{
      
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-right: 1vw;
      
      
  }
  
  .main-nev a{
      padding: 1rem;
      padding-right: 30px
      ;
  }
  .main-header{
      display: flex;
      justify-content: space-between;
      align-items: center ;
      height: 7vw;
      margin: 0;
      padding-left: 20px;
      background-image:url("../../assets/images/751400.png");
      background-size: 15%;
      padding-top: .5vh;
      width: 100%;
  }

  .logoName{
      color:rgb(15, 19, 19);
      font-weight: 900;
      font-size: 5vw;
      padding-left: 15px;
  }