<div class="about">
    <b style="font-size:1.4rem">Angular Problem Statement</b>

    <p>[Problem Statement]<br>
    Develop a front-end application which would let the users help list and browse all Characters of Rick and Morty Show.<br>
    [Minimum Requirement]<br>
    &mdash; Use of Web API to fetch Characters details.<br>
    Response Parameters to be used:<br>
    [ ID, Name, Status, Species, Gender, Image, Created, Origin, Last Location, etc].<br>
    Key Features:<br>
    &#9679; Visually interactive responsive design listing all the characters.<br>
    &#9679; Mobile should be of 2 column design while desktop and Tablet should have 4 columns.<br>
    &#9679; Make sure the standard Web development NFRs are taken care.<br>
    &#9679; A feature to Search (via name) should be implemented.<br>
    &#9679; Implement Sort feature (to filter through &lsquo;id&rsquo; in ascending and descending order).<br>
    &#9679; Implement Filters to filter out data based on Species and Gender.<br>
    &#9679; Custom elegant design, fonts and icons to make web app more user-friendly.<br>
    &#9679; Use your imagination and add features which would make things easier for end users.<br>
    &#9679; You may add portfolio activity comprising awesome work you have done on web application(s).<br>
    Build and local environment set-up requirements:<br>
    &bull; Some bundling package should be used to deliver the static assets for the web page, preferably Webpack.<br>
    &bull; Standard Linting processes should be set as part of local dev environment which should run with build process.</p>
    
    <p>Guidelines:<br>
    Submit Screenshot, Source code &amp; Instructions.<br>
    API to be used: https://rickandmortyapi.com/api/character/ <br>
    &mdash; Ideal Frontend Stack:<br>
    &#9679; Any of your favorite JS Framework: Javascript (ReactJS), jQuery, HTML, CSS.<br>
    &#9679; Custom CSS &ndash; You can use any standard library. A CSS-in-JS approach is also something that you can explore for React etc.<br>
    &#9679; Optional: Typography, Subtle pattern, Custom Icons.<br>
    &mdash; PS: Application can be built with use of client-side scripting but having server-side rendering would be a plus point.<br>
    &mdash; For icons and subtle texture:<br>
    &#9679; http://glyphsearch.com/<br>
    &#9679; http://subtlepatterns.com/thumbnail-view/<br>
    &#9679; http://codebeautify.org/jsonviewer<br>
    &#9679; http://www.flaticon.com/categories<br>
    &#8195;<br>
       </p>
    </div>