@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.about  {
    padding-left: 15vw;
    background-image: url(../../assets/images/876590.png);
    background-size: 100%;
    padding-top: 10vh;
    page-break-after: auto;
    background-color: darkolivegreen;
    color: white;
    padding-bottom: 5vh;
    font-family: Poppins;
}
