.wall{
font-family: Poppins;
background-image: url("../../assets/images/909641.jpg");
background-size: 100%;
padding-top: 20vh;
padding-left: 20vw;
padding-right: 20vw;
padding-bottom: 20vh;
font-size: 2vw;
text-align: justify;
font-weight: 900;
color: white;

}
