/* .column {
    float: left;
    min-width: 150px;
    width:25%;
    height: 90vh;
  }
  .cart1{
    display:inline-block;
  }
  .card1:after {
    content: "";
    display: table;
    clear: both;

  } */