.characterCard {
    display:inline-block;
}
.background{
  background-image: url(../../assets/images/812062.png);
  background-size: 50%;
  align-items: stretch;
  flex-direction: column ;
  width: 100%;
  
}
.nextPriv{
  display: block;
  padding-right: 3vh;
  padding-top: 1vh;
  align-content:center;
}
.filters{
  display: block;
  float: left;
  margin: auto;
  align-content: center;
  width:100%

 
  
  
}
.search{
 float: left;
 padding-left: 20vw;
  
}