<div class="content-flex" (window:resize)="onResizeWindow()"></div>
<div class="background ">
     <div class="filters">
        <div >
          
            <label for="gender">Gender:</label>
            <select name="gender" nsme (change)="setFilter" [(ngModel)]="gender" (change)="setFilter()"
            style="height:5.3vh;width: 10vw;">
                <option value="male">1. Male</option>
                <option value="female">2. Female</option>
                <option value="genderless">3. Genderless</option>
                <option value="unknown">4. Unknown</option>
            </select>
        </div>
        <div >
            
            <select (change)="setFilter" [(ngModel)]="status" (change)="setFilter()"
            style="height:5.3vh;width: 10vw;">
                <option value="alive">1. Alive</option>
                <option value="dead">2. Dead</option>
                <option value="unknown">3. Unknown</option>
            </select>
        </div>
        <div >
           
            <select (change)="setFilter" [(ngModel)]="species" (change)="setFilter()"
            style="height:5.3vh;width: 10vw;">
                <option value="Humanoid"> Humanoid </option>
                <option value="Human"> Human </option>
                <option value="Alien"> Alien</option>
                <option value="Unknown"> Unknown</option>
            </select>
        </div>
        <div >
            <button ng-disabled="!nextButtonAlive" (click)="clearFilters()" 
            style="height:50px;width:100px;background-color: darksalmon; width: 30%;
            color: white;font-size: 1.3rem;">Clear filters </button>
        </div>
        <div class="search">
         <h3 style="text-align: center;">Search By Name</h3>
         <input type="text" [(ngModel)]="name" placeholder="Search by Name"
            style="height:4.3vh;width: 20vw;">
            <button type="submit"  
            style="height:5.3vh;width: 5vw;" (click)="setFilter()">Submit</button>
       
            <h3 style="color: white;">Short By Id</h3>
            <select (change)="setFilter" [(ngModel)]="order" (change)="sortOrder()"
            style="height:1cm;width: 3.5cm;">
                <option value="asec"> Ascending order</option>
                <option value="desc"> Descending order</option>
            </select>
        </div>
    </div> 

    <div *ngIf="dataIsAvailable && order=='asec'">
        <div class="characterCard col-md-6 col-lg-3 col-xs-6 col-sm-6" *ngFor="let characterData of characters">
            <app-character-card [data]="characterData"></app-character-card>

        </div>
    </div>
    <div *ngIf="dataIsAvailable && order=='desc'">
        <div class="characterCard col-md-6 col-lg-2 col-xs-6 col-sm-6" *ngFor="let character of characters.reverse()">
            <app-character-card [data]="character"></app-character-card>

        </div>
    </div>
    <br>
    <div class="nextPriv">
        <button ng-disabled="!prevButtonAlive" (click)="getPrevPage()"
            style="height:50px;width:100px;background-color: darksalmon;">prev</button>
        <button ng-disabled="!nextButtonAlive" (click)="getNextPage()"
            style="height:50px;width:100px;background-color: darksalmon;">next</button>
    </div>
</div>