<div class="container">
<div class="card" [hidden]="!character.id">
    <div class="imageContainer">
    <img src="{{character.image}}" alt="{{character.name}}"  style="width:100%;height:100%;border-radius: 10%;">
  </div>
    <div class="detailsContainer">
      <h4 style="text-align: center; text-transform: uppercase;
      position: relative;
      background-color:darkslategray;
      border-radius:5%;
      "><b>{{character.name}}</b></h4>

    <ul>
      <br>
      <li>id: {{character.id}}</li>
    <li>status: {{character.status}}</li>
    <li>species: {{character.species}}</li>
    <li>gender: {{character.gender}}</li> 
    <li style="font-size:smaller;">origin: {{character.origin ? character.origin.name: ''}}</li>
</ul>
    </div>
  </div>
</div>