
.container{
  height:100%;
  width:82%;
  padding-left: 10%;
  float: left;
  box-sizing: border-box;
  position: relative;
  margin-top: 30px;
  margin-left: 15px;


}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(173, 125, 125, 0.2);
    transition: 0.3s;
    overflow:hidden;
    padding :5% 6%;
    background-image: url(../../assets/images/751400.png);
    border:black;
    height: 450px;
    width: 120%;
    color: white;
    border-radius: 10px;
    margin:0px;
    font-weight: 530;

    
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(41, 30, 30, 0.2);
    color:wheat;
    background-image: url(../../assets/images/876589.jpg);
  }
  
  /* Add some padding inside the card container */
  li{
      list-style: none;
      word-wrap: break-word;
      max-width:90%;
    
  }
  .imageContainer {
    max-width: 100%;
    max-height: 50%;
    position: relative;

  }
  .detailsContainer{
    max-width:100%;
    word-wrap: break-word;
    max-height:50%;
    overflow-x:hidden;
    overflow-y:hidden;
    border-radius: 10px;
    text-transform: capitalize;
    text-align: justify;

  }